body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 100px; /* Adjusted logo size */
    height: 100px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px; /* Adjusted margin */
}

.icons {
    display: flex;
    justify-content: space-between;
    margin-right: 20px; /* Adjusted margin */
}

.icons i {
    font-size: 24px; /* Adjusted icon size */
}

main {
    width: 100%;
    background-color: #f5f5f5; /* Adjusted background color */
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.product {
    width: 45%;
    display: flex;
    align-items: center;
}

.product img {
    width: 100%;
    max-width: 250px; /* Set a maximum width for the image */
    border-radius: 5px;
}

.product-info {
    padding: 0 20px;
}

.user-form {
    width: 45%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #000;
    color: white;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333; /* Darkened color on hover */
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 15px 0;
}

.social-icons a {
    margin: 0 15px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* Rounded social icons */
}
